.reg-container {
    max-width: 500px;
    margin: 90px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

.reg-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reg-form input,
.reg-form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
}

.reg-form button {
    background: #0a4a7a;
    color: white;
    border: none;
    border-radius: 8px;
}
